{% load widget_tweaks %}

<!DOCTYPE html>
<html>
	<head>
		<title>Shop Project</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
	</head>
	<body>
		<div class="container">
		<br>
			<div class="row">
				<div class="col-md-2 col-xs-2 col-sm-2"></div>
						<form method="post" id="deleteForm" onsubmit='return onSubmit(this)'>
							{% csrf_token %}
						<div class="form-row">
						<input type="hidden" id="pk" value="{{ insumo.id }}"/>
							<div class="alert alert-danger">
								¿Est&aacute;s seguro que deseas borrar {{ insumo.nombre }}?
								<button type="submit" class="btn btn-danger" style="margin-left: 15px;">
									<span class="glyphicon glyphicon-trash"></span>
								</button>
							</div>
						</div>
						
						</form>
						<a href="{% url 'index' %}" type="submit" id="submit" class="btn btn-success">Cancelar</a>
				</div>
			</div>
		</div>


		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
		<script>
			function onSubmit( form ){

				var pk = document.getElementById("pk").value;

				var insumo = {
					"pk": pk,
				}

				$.ajax({
					type: "POST",
					url: "http://localhost:8000/api/borrar/" + pk + "/",
					data: JSON.stringify(insumo),
					contentType: "application/json; charset=utf-8",
					crossDomain: true,
					dataType: "json",
					success: function (data, status, jqXHR) {
						window.location.replace("http://localhost:8080/");
					},

					error: function (jqXHR, status) {
						// error handler
						console.log(jqXHR);
						alert('fail' + status.code + "<br>" + "http://localhost:8000/api/borrar/" + pk + "/");
					}
				});
			}

		</script>	
	</body>
</html>
