{% load widget_tweaks %}

<!DOCTYPE html>
<html>
	<head>
		<title>Shop Project</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
	</head>
	<body>
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-1 col-xs-1 col-sm-1"></div>
				<div  class="col-md-10 col-xs-10 col-sm-10 ">
				<br/>
					<h6 style="text-align:center;"><font color="red"> Todos los campos son obligatorios</font> </h6>
				</div>
				<div class="col-md-1 col-xs-1 col-sm-1">
				</div>
			</div>
			<div class="row">
				<div class="col-md-1 col-xs-1 col-sm-1"></div>
				<div class="col-md-10 col-xs-10 col-sm-10">
					
					<form method="post" id="editForm" onsubmit='return onSubmit(this)'>
						{% csrf_token %}
						<div class="form-group">
							<label for="id_pk">Clave:</label>
							<input type="text" name="id_pk" value="{{ insumo.id }}"class="form-control" required="" id="id_pk" disabled>
						</div>
						<div class="form-group">
							<label for="id_nombre">Nombre:</label>
							<input type="text" name="nombre" value="{{ insumo.nombre }}" maxlength="120" class="form-control" required="" id="id_nombre">
						</div>
						
						<div class="form-group">
							<label for="id_descripcion">Descripcion:</label>
							<textarea name="descripcion" cols="40" rows="10" class="form-control" required="" id="id_descripcion">{{ insumo.descripcion }}</textarea>
						</div>
						
						<div class="form-group">
							<label for="id_precio">Precio:</label>
							<input type="number" name="precio" value="{{ insumo.precio }}" step="any" class="form-control" required="" id="id_precio">
						</div>
						<button type="submit" id="submit" class="btn btn-success">Guardar</button>
						<a href="{% url 'index' %}" type="submit" id="submit" class="btn btn-danger">Cancelar</a>
					</form>
				<br>
				</div>
				<div class="col-md-1 col-xs-1 col-sm-1"></div>
			</div>
		</div>



		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>


		<script>
			function onSubmit( form ){

				var pk = document.getElementById("id_pk").value;
				var nombre = document.getElementById("id_nombre").value;
				var descripcion = document.getElementById("id_descripcion").value;
				var precio = document.getElementById("id_precio").value;

				var insumo = {
					"pk": pk,
					"nombre": nombre,
					"descripcion": descripcion,
					"precio": precio,
				}

				$.ajax({
					type: "POST",
					url: "http://localhost:8000/api/editar/" + pk + "/",
					data: JSON.stringify(insumo),
					contentType: "application/json; charset=utf-8",
					crossDomain: true,
					dataType: "json",
					success: function (data, status, jqXHR) {
						window.location.replace("http://localhost:8080/edit/" + pk + "/");
					},

					error: function (jqXHR, status) {
						// error handler
						console.log(jqXHR);
						alert('fail' + status.code + "<br>" + url);
					}
				});
			}
		</script>
	</body>
</html>